*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color:rgb(113, 168, 191);
      color: black; 
      position: relative;
      display: grid;
      place-items: center;
      height: 100vh;
  
  }
  
  .container {
      background-color: white; 
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 50%;
      height: auto;
      display: grid;
  
  
  }

  @media screen and (max-width: 769px) {
      .container {
          margin: 100px auto;
          width: 100%;
      }
  }
 
  input[type="url"] {
      width: 80%;
      padding: 10px;
      margin-bottom: 10px;
  
      border: 1px solid #717171;
      font-size: 16px;
      font-weight: bold;
      outline: none;
      border-radius: 4px;
      background-color: #fff;
  }
  
  button {
      background-color: #ffbd69; 
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
  }
  
  button:hover {
      background-color: #ff9a8b; 
  }
  
  p {
      font-size: 18px;
      margin-top: 10px;
  }
  
  a {
      text-decoration: none;
      color: #03a9f4; 
  }
  
  .OneUrl {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      background-color: green;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 4px;
      background-color: #f2f1f2;
      & > :is(.full , .short) {
          display: grid;
          grid-template-columns: repeat(2,1fr);
          & > a {
              margin-top: 6%;
              word-break: break-all;
          }
      }
   
  }

